.contact-message .message-bubble{
  background-color: #f2f2f2;
  color: rgb(50, 50, 50);
}
.user-message .message-bubble{
  background-color: #bafeaf;
  color: #5a5555;
}
.user-message {
  margin-top: 32px;
  margin-right: 8px;
}
.contact-message{
  margin-top: 32px;
  margin-right: 8px;
}
.message-bubble{
  padding: 9px;
  font-weight: 500;
  font-size: 12pt;
  overflow-wrap: anywhere;
}
.message-bubble.image{
  padding: 3px;
  border-radius: 4px;
}
.image-message{
  max-height: 400px;
  max-width: 311px;
}
.message-zone{
  min-width: 12%;
  max-width: 47%;
}
